style-guide.md
design/
vs/
.vs/tranform-your-room/CopilotIndices/17.13.431.34963/SemanticSymbols.db
.vs/tranform-your-room/CopilotIndices/17.13.431.34963/CodeChunks.db
.vs/tranform-your-room/CopilotIndices/17.13.431.34963/SemanticSymbols.db
.vs/tranform-your-room/FileContentIndex/c2bea26e-6a6f-4e87-856f-e13eedfaa9b0.vsidx
.vs/tranform-your-room/FileContentIndex/f7d06432-7a8b-4642-8006-a263704bd5c9.vsidx
.vs/tranform-your-room/v17/.wsuo
.vs/tranform-your-room/v17/DocumentLayout.backup.json
.vs/tranform-your-room/v17/DocumentLayout.backup.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
README.md
